---
layout: default
title: Jace's Blog | 易进春的博客
css: /css/index.css
---

<div class="container">
  <ul class="posts">
    {% for post in site.posts %}
    <li class="post">
      <a href="{{ post.url }}">
        <h2 class="title">{{ post.title }}</h2>
        <div class="excerpt">{{ post.description}}</div>
        <div class="excerpt">{{ post.excerpt | strip_html }}</div>
        <div class="time">{{ post.date | date: '%Y-%m-%d' }} </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  <div class="tags">
    <h3 class="title">All TAGS</h3>
    <div class="box">
      {% for tag in site.tags %}
      <a class="tag" href="/tags/#{{ tag[0] }}">{{ tag[0] }}</a>
      {% endfor %}
    </div>
    <div>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4613132254509352"
        crossorigin="anonymous"></script>
      <!-- home -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4613132254509352" data-ad-slot="9315482503"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
