<div id="header">
    <div class="top">
        <div class="title">
            <a href="/">Jace Blog</a>
        </div>
        <nav class="nav">
            <div class="item">
                <a href="/">Home</a>
            </div>
            <div class="item">
                <a href="/about">About</a>
            </div>
            <div class="item">
                <a href="/tags">Tags</a>
            </div>
        </nav>
    </div>
    <div class="banner">
        <div class="center">
            <div class="text">Study hard, improve every day.</div>
            <div class="search-box">
                <input type="text" placeholder="搜索文章" class="search-input">
                <div class="icon">
                    <i class="iconfont">&#xe601;</i>
                </div>
            </div>
        </div>
    </div>
</div>