:root {
  --primary-color: #1d9cef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

#footer {
  text-align: center;
  margin: 30px 0;
  font-size: 12px;
  color: #666;
}
