@import "./theme.scss";

$containerWidth: 1050px;

img {
   width: 100%;
}

.tags {
   flex: 0 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;

   .tag {
       font-size: 12px;
       transition: background-color 0.4s;
       color: #fff;
       padding: 8px 12px;
       line-height: 1.2;
       border-radius: 9em;
       border: 1px solid #fff;
       margin: 0 6px 6px 0;

       &:hover {
           background-color: rgba($color: #fff, $alpha: 0.2);
       }
   }
}

#header {
   height: 400px;
   background-position: center;
   background-size: cover;
   background-color: #888;
   color: #fff;
   overflow: hidden;

   .content {
      width: $containerWidth;
      margin: $navHeight auto 0;
      padding-top: 100px;
   }
   
   .post-title {
      font-size: 40px;
      margin-bottom: 20px;
   }

   .post-description {
      font-size: 22px;
      margin-bottom: 14px;
   }

   .post-date {
      font-size: 18px;
      margin-bottom: 6px;
   }
}

.container {
   width: $containerWidth;
   margin: 30px auto;

   h1 {
      margin-bottom: 30px;
   }
   
   h2, h3, h4, h5, h6 {
      margin-bottom: 20px;
   }

   p {
      margin: 28px 0;
   }
}

@media (max-width: 1200px) {
   $containerWidth: 950px;

   #header {
      .content {
         width: $containerWidth;
      }
   }

   .container {
      width: $containerWidth;
   }
}

@media (max-width: 1000px) {
   $containerWidth: 760px;

   #header {
      .content {
         width: $containerWidth;
      }

      .post-title {
         font-size: 30px;
         margin-bottom: 16px;
      }
   }

   .container {
      width: $containerWidth;
   }
}

@media (max-width: 768px) {
   $containerWidth: 90vw;

   #header {
      height: 300px;

      .content {
         padding-top: 40px;
         width: $containerWidth;

         .post-title {
            font-size: 26px;
            margin-bottom: 10px;
         }
         
         .post-description {
            font-size: 18px;
            margin-bottom: 6px;
         }

         .post-date {
            font-size: 16px;
         }
      }
   }

   .container {
      width: $containerWidth;
       font-size: 14px;

       h1 {
         margin-bottom: 28px;
      }
      
      h2, h3, h4, h5, h6 {
         margin-bottom: 20px;
      }
   
      p {
         margin: 16px 0;
      }
   }
}