@import "./theme.scss";

$containerWidth: 1200px;

body {
  background-color: #f7f7f7;
}

img {
  width: 100%;
}

ul,
li {
  list-style: disc;
  margin: 10px 0 10px 10px;
}

.tags {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .tag {
    font-size: 12px;
    transition: background-color 0.4s;
    color: #fff;
    padding: 8px 12px;
    line-height: 1.2;
    border-radius: 9em;
    border: 1px solid #fff;
    margin: 0 6px 6px 0;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.2);
    }
  }
}

#header {
  min-height: 30vh;
  background-position: center;
  background-size: cover;
  background-color: #888;
  color: #fff;
  overflow: hidden;

  .content {
    width: $containerWidth;
    margin: $navHeight auto 0;
    padding: 8vh 0 2vh;
  }

  .post-title {
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }

  .post-description {
    font-size: 22px;
    margin-bottom: 14px;
  }

  .post-date {
    font-size: 18px;
    margin-bottom: 14px;
  }
}

.container {
  width: $containerWidth;
  margin: 0 auto;
  color: #333;
  display: flex;

  .main {
    margin-top: 20px;
    width: calc(100% - 280px);
    flex: 1 1 auto;
  }

  .article {
    background-color: #fff;
    padding: 24px;
    overflow-x: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1;
      margin: 36px 0 20px;
      color: #333;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      margin: 20px 0;
    }

    .date {
      color: #666;
      text-align: center;
      font-size: 13px;
      font-weight: 300;
      padding: 0 10px;
      margin: 30px 0 10px;
    }

    blockquote {
      p {
        margin: 0;
      }
    }

    pre {
      padding: 10px 12px;
      border-radius: 4px;
      word-break: break-all;
      font-size: 13px;
      line-height: 1.75;

      code {
        padding: 0;
      }
    }

    hr {
      border: none;
      border-top: 1px solid #ddd;
      margin-top: 30px;
      margin-bottom: 28px;
    }

    .highlighter-rouge {
      padding: 2px 4px;
      color: $red;
      background-color: #f9f2f4;
      border-radius: 4px;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    }

    .token.operator {
      background-color: transparent;
    }
  }

  .ad {
    background-color: #f7f8f9;
  }

  #comment {
    background-color: #fff;
    padding: 24px;
    margin-top: 20px;
  }

  .nav-container {
    width: 260px;
    flex: 0 0 auto;
    margin: 20px 0 0 20px;
    font-size: 14px;
  }

  .main-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: #fff;

    .nav-card {
      padding: 12px;
    }

    .title {
      margin-bottom: 8px;
      font-size: 18px;
      color: #333;
    }

    a {
      display: block;
      font-weight: 600;
      padding: 6px 8px;
      border-radius: 2px;
      transition: all 0.3s;
      color: #333;
      margin-bottom: 4px;
      line-height: 1.4;

      &:hover {
        background: repeating-linear-gradient(90deg, #f1f1f1 0%, #f3f3f3 60%, #fff 100%);
      }

      &.active {
        background: repeating-linear-gradient(90deg, #e4f6fd 0%, #f0f8fb 60%, #fff 100%);
        color: $color;
      }
    }

    a[data-head="H3"] {
      padding-left: 18px;
    }

    a[data-head="H4"] {
      padding-left: 30px;
    }
  }
}

@media (max-width: 1200px) {
  $containerWidth: 950px;

  #header {
    .content {
      width: $containerWidth;
    }
  }

  .container {
    width: $containerWidth;
  }
}

@media (max-width: 1000px) {
  $containerWidth: 760px;

  #header {
    .content {
      width: $containerWidth;
    }

    .post-title {
      font-size: 30px;
      margin-bottom: 16px;
    }
  }

  .container {
    width: $containerWidth;
  }
}

@media (max-width: 768px) {
  $containerWidth: 90vw;

  #header {
    min-height: 260px;

    .content {
      padding-top: 34px;
      width: $containerWidth;

      .post-title {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .post-description {
        font-size: 16px;
        margin-bottom: 6px;
      }

      .post-date {
        font-size: 14px;
      }
    }
  }

  .container {
    font-size: 14px;
    padding: 0;
    width: 100%;

    .main {
      flex: auto;
      width: $containerWidth;
      margin: 0 auto;
    }

    .article {
      padding: 24px 20px;

      h1 {
        margin-bottom: 24px;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 14px;
      }

      p {
        margin: 14px 0;
      }

      .date {
        margin-bottom: 0;
      }
    }

    .ad {
      display: none;
    }

    .nav-container {
      display: none;
    }
  }
}
